
/*skeleton*/

.App {
    display: flex;
    flex-direction: row;
}

#connection-page {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}

#left-container, #center-container, #right-container {
    display: flex;
    flex-direction: column;
}

#left-container {
    /*flex-grow: 1;*/
    width: 15%;
    justify-content: flex-start;
}

#center-container {
    /*flex-grow: 3;*/
    width: 60%;
}

#tweet-feed {
    position: relative;
    border: solid #F5F8FA;
    flex-direction: column;
    border-bottom: none;
}

#profile-page {
    flex-direction: column;
}

#notification-feed {
    flex-direction: column;
    border: solid #F5F8FA;
    border-bottom: none;
}

#right-container {
    /*flex-grow: 2;*/
    width: 25%;
    justify-content: flex-start;
}

/* connection-page */

#connection-page-left {
    width: 50%;
    background-color: #71C9F8;
}

#connection-page-right {
    display: flex;
    justify-content: center;
    width: 50%;
}

#connection-page-right-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#connection-page-button-signup, #connection-page-button-login {
    border: solid thin #1DA1F3;
    text-align: center;
    width: 25em;
    border-radius: 15em;
    font-weight: bold;
    font-size: medium;
    padding: 0.75em 0 0.75em 0;
    margin-bottom: 0.5em;
}

#connection-page-button-signup {
    background-color: #1DA1F3;
    color: white;
}

#connection-page-button-login {
    background-color: white;
    color: #1DA1F3;
}

.connection-dialog {
    top: 20%;
    border-radius: 5%;
    border-style: none;
    background-color: white;
    z-index: 1;
    width: 500px;
    height: 250px;
}

/*left-side-container*/

#menu-top {
    margin: 1em 1em 1em 3em;
}

#menu-buttons {
    display: flex;
    flex-direction: column;
}

.menu-button {
    border-style: none;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 17em;
    margin: 1em 1em 1em 3em;
}

.menu-button:hover {
    background-color: #1DA1F3;
    border-radius: 15em;
}

#left-container .tweet-button {
    height: 40px;
    font-size: 16px;
    width: 60%;
    margin: 0 6em 0 2em;
    justify-content: center;
}

.menu-button-img {
    width: 40px;
    margin: 0 1em 0 0;
    fill: #1DA1F3;
}

.menu-button-img:hover {
    fill: white;
}

.menu-labels {
    font-weight: bold;
    font-size: 20px;
}

/* tweet-feed */

#tweet-feed-sticky-banner {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    margin: 0;
    border: solid white;
    border-bottom-color: #F5F8FA;
    padding: 0.5em;
}

#user-tweet {
    border: solid white;
    border-bottom-color: #F5F8FA;
}

#tweets {

}

.user-tweet-tweet-raw {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-tweet-img {
    border-radius: 20em;
    margin: 0 1em 0 1em;
}

#user-tweet-input {
    border-style: none;
    font-size: 20px;
    width: 90%;
}

.user-tweet-action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 0 1em 0;
}

.user-tweet .tweet-button {
    height: 40px;
    font-size: 16px;
    width: 50%;
    margin: 0 6em 0 2em;
    justify-content: center;
}

.tweet {
    border: solid white;
    border-bottom-color: #F5F8FA;
}

.tweet-who {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0 1em 0;
    /*border-style: solid;*/
}

.tweet-content {
    margin: 1em 1em 1em 5em;
    /*border-style: solid;*/
}

.tweet-action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.5em 7em 0.5em 5em;
    align-items: center;
    /*border-style: solid;*/
}

.tweet-action-bar-button {
    border-style: none;
    background-color: white;
}

/*.tweet-action-bar-button*/.liked {
    background: #71C9F8;
    border-radius: 60%;
}

.tweet-action-bar-button > *{
    pointer-events: none;
}

.tweet-action-bar-button-img {
    width: 20px;
    pointer-events: none;
}


/* right-side-container */

#logout {
    display: flex;
    justify-content: flex-end;
    margin: 0 2em 0 2em;
}

#search, #trends, #follow {
    background-color: #F5F8FA;
    border-style: none;
    margin: 1em 2em 1em 2em;
}

#search {
    /*flex-grow: 1;*/
    border-radius: 4em;
    /*background-image: url('./resources/search.svg');*/
    /*background-repeat: no-repeat;*/
    background-position: left;
    background-color: #F5F8FA;
}

#search-input {
    background-color: #F5F8FA;
    margin: 0 0.5em 0 4em;
    border-style: none;
}

#trends {
    /*flex-grow: 4;*/
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.trend-object {
    padding: 1em 0 1em 1em;
}

#follow {
    /*flex-grow: 4;*/
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.follow-object {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 1em 1em;
}

.follow-object-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.follow-object-img, .tweet-who-img {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin: 0 0.5em 0 0;
}

.follow-button, .edit-profile-button {
    border-radius: 20px;
    background-color: #F5F8FA;
    color: #1DA1F3;
    border: solid #1DA1F3;
    align-items: center;
    font-weight: bold;
}

.right-container-title {
    font-weight: bold;
    font-size: 20px;
    /*padding: 0.5em 0 0.5em 0;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-container-title-text {
    padding: 0.5em 0 0.5em 1em;
}

.right-container-title .menu-button-img {
    width: 20px;
}

.right-container-title, .trend-object, .follow-object {
    border: solid thin #F5F8FA;
    border-bottom-color: #D8D9DA;
}

#logout-button {
    border-style: none;
    background-color: white;
    color: #1DA1F3;
    align-items: center;
    font-weight: bold;
    margin-top: 0.5em;
}

/* profile-page */

.profile-page-upper-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#profile-page .profile-page-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profile-page .profile-name {
    font-weight: bold;
}

#profile-bio-location-pin {
    width: 15px;
}

.return-button .menu-button-img {
    width: 10px;
}

.profile-background {
    width: 100%;
    height: 15em;
}

/* dialog */

#edit-profile-page {
    /*display: none;*/
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#edit-profile-dialog {
    top: 15%;
    border-radius: 5%;
    border-style: none;
    background-color: white;
    z-index: 1;
    width: 500px;
}

#edit-profile-control {
    display: flex;
    justify-content: space-between;
}

#edit-profile-control-sub {
    display: flex;
    justify-content: flex-start;
}

.edit-profile-input {
    border-style: none;
    border-bottom: 1px solid black;
    background-color: #F5F8FA;
}

.edit-profile-input-char-count {
    text-align: right;
    font-size: 13px;
}

.edit-profile-input-container {
    border: none;
    padding: 0 8px;
    position: relative;
}
.edit-profile-input-container .edit-profile-input {
    border: none;
    font-size: 16px;
    margin: 16px 0 10px;
    outline: 0;
}
.edit-profile-input-label {
    font-size: 16px;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all .1s ease-in-out;
}
.edit-profile-input-container:active .edit-profile-input-label {
    transform: translate(0, 4px) scale(.75);
}

/* notification-feed */

#notification-feed-header {
    border-bottom: solid #F5F8FA;
}

#notification-feed-header-sub-up {
    display: flex;
    justify-content: space-between;
    margin: 1em 0.5em 1em 0.5em;
}

#notification-feed-header-text {
    font-weight: bold;
    font-size: 30px;
}

#notification-feed-header-sub-down {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5em;
    font-size: 20px;
}

.notification-feed-header-tab {
    width: 20em;
    border-bottom: black solid;
    margin: 0 1em 0 1em;
    text-align: center;
}

.notification {
    margin: 1em 0 0 0;
    border: solid white;
    border-bottom-color: #F5F8FA;
}

.notification-type-img {
    width: 40px;
}

.notification-who-img {
    border-radius: 5em;
    margin-left: 0.5em;
}

.notification-content {
    margin: 1em 1em 1em 5em;
}

/* common */

.svgs {
    fill: #1DA1F3;
    pointer-events: none;
}

.return-button, .close-button {
    border-style: none;
    background-color: white;
}

.blue-style-button {
    border-style: none;
    border-radius: 20px;
    background-color: #1DA1F3;
    color: white;
    align-items: center;
    font-weight: bold;
}

.tweet-button {
    border-style: none;
    border-radius: 20px;
    background-color: #1DA1F3;
    color: white;
    align-items: center;
    font-weight: bold;
}

.tweet-button-disabled {
    background-color: #999999;
}

#left-menu-profile-img, #profile-img, #edit-profile-profile-img {
    border-radius: 20em;
}

.att {
    fill: white;
    position: relative;
    left: 30%;
}